body {
	width: 100%;
	height: auto;
	max-width: 1024px;
	margin: auto;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
  
.flex-container > div {
	background-color: #f1f1f1;
	margin: 10px;
	padding: 20px;
}

.main-row {
	width: 1024px;
}

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.flex-row-left {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.indented-row {
	padding-left: 10vw;
}

.flex-row-left > button {
	margin-left: 0px;
	margin-right: 0px;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: blue;
}

button {
	border: 1px solid black;
	display: block;
	position: relative;
	text-align: center;
	width: 100px;
	height: 30px;
	opacity: 0.5;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

.center-button {
	margin-left: 0;
	margin-right: 0;
}

button:hover {
	background-color: cornflowerblue;
}

.pressed {
	background-color: lightskyblue;
}

button.active {
	pointer-events: initial;
	opacity: 1;
}

h3 {
	margin-top: 0px;
}

.osdLair {
	width: 500px;
	height: 700px;
}

.openseadragon-container:after {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background: red;
	top: 50%;
	left: 0;
}
  
#play-line{
background-color:blue;
width: 100%;
height: 1px;
}

.score {
	width: 500px;
	height: 600px;
}

div.score svg {
width: 500px;
height: 600px;
overflow: visible;
overflow-x: visible;
overflow-y: visible;
}

.piano-keyboard {
	height: 5rem;
	width: 1024px;
	cursor: pointer;
	position: relative;
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	user-select: none;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: flex-start;
}

.piano-keyboard-key {
	position: relative;
	height: 100%;
	width: auto;
	order: 0;
	flex: 1 0 auto;
	align-self: auto;
}
.piano-keyboard-key-white {
	background: rgb(255,255,255);
	box-shadow: inset 0 0 0px 1px rgba(87, 85, 65, 0.12);
}
.piano-keyboard-key-black {
	height: 67%;
	background: rgb(12,11,10);
	box-shadow: none;
	position: absolute;
	top: 0;
	z-index: 1;
	right: -33%;
	width: 67%;
}
.piano-keyboard-key-black:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	border-bottom: 1.4rem solid rgba(220, 230, 231, 0.06);
	border-left: .35rem solid rgba(255, 249, 245, 0.12);
	border-right: .35rem solid rgba(230, 236, 241, 0.16);
	border-top: none;
}
.piano-keyboard-key-c-sharp {
	right: -20%;
}
.piano-keyboard-key-d-sharp {
	right: -47%;
}
.piano-keyboard-key-f-sharp {
	right: -17%;
}
.piano-keyboard-key-a-sharp {
	right: -50%;
}
.piano-keyboard-key-active {
	background: rgb(181, 226, 255);
	box-shadow: none;
}

/** Optional vertical style */
.piano-keyboard-vertical {
	flex-direction: column-reverse;
}
.piano-keyboard-vertical .piano-keyboard-key-white {
	width: 100%;
	height: auto;
}
.piano-keyboard-vertical .piano-keyboard-key-black {
	width: 67%;
	top: -33%;
	height: 67%;
	right: auto;
}
.piano-keyboard-vertical .piano-keyboard-key-black:after {
	border-right: 1.4rem solid rgba(233, 231, 220, 0.06);
	border-bottom: .35rem solid rgba(255, 249, 245, 0.12);
	border-top: .35rem solid rgba(230, 236, 241, 0.16);
	border-left: none;
}
.piano-keyboard-vertical .piano-keyboard-key-c-sharp {
	top: -20%;
}
.piano-keyboard-vertical .piano-keyboard-key-d-sharp {
	top: -47%;
}
.piano-keyboard-vertical .piano-keyboard-key-f-sharp {
	top: -17%;
}
.piano-keyboard-vertical .piano-keyboard-key-a-sharp {
	top: -50%;
}
